# Python environment
.venv/
__pycache__/
*.pyc
.python-version
.geminiignore

# Datasets, Weights, and other artifacts
data/
weights/
plots/
csv-files/
archive/

# IDE/System Metadata
.DS_Store
.vscode/
.idea/

# Notebooks
utils/eda.ipynb
utils/plotting.ipynb

# Commit messages
COMMIT_EDITMSG

# Local reference file
info.md
refs
config.yaml

# Logs & Test Results
scripts/logs/
logs/
results/
tests/
test_results/
*.orig
scripts/test_parallel_ram.slurm
scripts/test_single_ram.slurm
RAM_baseline_context.md
