# Python environment
.venv/
__pycache__/
*.pyc
.python-version
.geminiignore

# Datasets, Weights, and other artifacts
data/
weights/
plots/
csv-files/
archive/

# IDE/System Metadata
.DS_Store
.vscode/
.idea/

# Notebooks
utils/eda.ipynb
utils/plotting.ipynb

# Commit messages
COMMIT_EDITMSG

# Local reference file
info.md
refs
config.yaml
scripts/jpilot.local.toml

# Logs & Test Results
scripts/logs/
logs/
results/
tests/
test_results/
*.orig
scripts/test_parallel_ram.slurm
scripts/test_single_ram.slurm
RAM_baseline_context.md
mutagen.yml*


AGENTS.md

RAM_debug_analysis.md
RAM_debugging.md
RAM_fix_plan.md
learn_ram.ipynb
models/ram_classic_v0.py
run_ram.sh
test_ram.py
test_ramm.py
train_ram_old.py
